html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: #f3f3f3;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
li:hover {
    background-color: rgb(255, 252, 73);
}
li:active {
    background-color: #9fa39e;
    border-radius: 5px;
    font-size: smaller;

}
ul{
    margin-left: 20px;
}

li{
    margin-top: 9px;
    display: inline-block;
    margin-left: 70px;
    font-size: 25px; 
    font-weight: bold;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;     
}
.navbar {
    background-color:  white;
    border: 2px solid black;
    width: 77vh;
    height: 5vh;
    margin-left: 55vh;
    border-radius: 10px;
    position: relative;

}
.card  {
    border-radius: 3px;
    top: 80px;
    width: 700px;
    height: 200px;
    position: relative;
    border: 3px dashed rgb(12, 12, 12);
    left: 55vh;
}
.luffy {
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin-left: 480px;
    margin-top: 25px;
    z-index: 1;
}
.label  {
    background-color: white;
    border-radius: 200px;
    margin-left: 20px;
    margin-top: -150px;
    border: 2px solid black;
    width: 400px;
    height: 150px;
}
h3 {
    font-size: 20px;
    color: #777;
    margin-left: -15px;
}
h1{
    font-size: 35px;
}
.text   {
    margin-top: 40px;
    margin-left: 120px;
}
.nika   {
    position: relative;
    left: 500px;
    top: -300px;
    opacity: 0.5;
}
.usopp {
    position: relative;
    top: -170vh;
    width: 1500px;
    margin-left: -500px;
    opacity: 0.2;
    z-index: -1;

}